.thank{
    height: 100vh;
    padding: var(--space-size);
    background-color: var(--color-main);
    background-image: url(./../bg-images/thank-you-page-bg-mb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    color: var(--color-light);

    padding-left: var(--space-size);
}
.logo{
    display: block;
    width: 50px;
    height: 50px;
    margin-top: 15px;
}
.thank__article{
    width: 70%;
    margin-top: 16%;
    display: flex;
    flex-direction: column;
    height: 88vh;
}
.thank__heading{
    font-size: 2.25rem;
    margin-top: 30px;
    line-height: 1.23;
}

.thank__article p{
    padding-top: 0.7rem;
    font-weight: 600;
    line-height: 1.625;
}
.thank__article strong{
    font-weight: 900;
}
.thank__article .btn{
    max-width: 300px;
    margin-top: auto;
    align-self: center;
    background-color: var(--color-light);
    color: var(--color-main); 
}


@media (min-width: 576px) {
    .thank{
        background-image: url(./../bg-images/thank-you-page-bg-dt.png);
        background-position: 70% bottom;
    }
  }

@media (min-width: 768px) {
    .logo{
        width: 98px;
        height: 98px;
    }
    .thank__article{
        width: 60%;
    }
    .thank__article .btn{
        align-self: initial;
        margin-top: 3rem;
    }
  }