.welcome{
    height: 100vh;
    padding: var(--space-size);
    background-color: var(--color-main);
    background-image: url(./../bg-images/welcome-bg-mb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    color: var(--color-light);
}
.logo{
    display: block;
    width: 50px;
    height: 50px;
    margin-top: 15px;
}
.welcome__article{
    display: flex;
    flex-direction: column;
    height: 88vh;
}
.welcome__heading{
    font-size: 1.375rem;
    margin-top: 30px;
    line-height: 1.23;
}

.welcome__article p{
    padding-top: 0.7rem;
    font-weight: 600;
}
.welcome__article strong{
    font-weight: 900;
}
.welcome__article .btn{
    max-width: 232px;
    margin-top: auto;
    margin-bottom: 0.5rem;
    align-self: center;
    background-color: var(--color-light);
    color: var(--color-main); 
}

/* sale */

.welcome__sale{
    display: flex;
    flex-direction: column;

    min-height: 822px;
    padding: var(--space-size);
    background-color: var(--color-main);
    background-image: url(./../bg-images/welcome__article-sale-bd-mb.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-light);
}

.container__sale{
    padding-top: 20rem;
    width: 90%;
}

.welcome__sale h2{
    font-size: 2rem;
    margin-bottom: var(--space-size);
}

.sale{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    min-height: 310px;
    margin: 3rem 0;
    border-radius: 14px;
    background-color: var(--color-light);
    color:#221112;
    padding: 2.3rem 1.5rem;
}

.sale h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3rem;
}

.sale p{
    width: 80%;
}

/* certificate */

.welcome__certificate{
    padding: var(--space-size);
    background-color: var(--color-main);
    color: var(--color-light);
    border-top: 3px solid white;
    padding: 4rem var(--space-size);
}
.certificate-article{}
.certificate-info{
    display: flex;
    flex-direction: column;

    padding-bottom: 4rem;
}
.certificate-img{
    text-align: center;
    padding-bottom: 2rem;
}
.certificate-img img{
    width: 203px;
    height: 243px;
}
.certificate-p :first-child{
    font-size: 1.4rem;
    font-weight: bold;
    font-family: "Montserrat Alternates", sans-serif;
    padding-bottom: 0.7rem;

    width: 80%;
}
.certificate-input{
    display: flex;
    flex-direction: column;

}
.certificate-input .btn{
    border: 3px solid var(--color-light);
    margin-top: 1rem;
    background-color: var(--color-main);
    color: var(--color-light);
    max-width: inherit;
    /* width: 100%; */
}
.certificate-input input {
    margin-bottom: 1.3rem;
}

/* footer */
.welcome__footer{
    padding: var(--space-size);
    background-color: var(--color-footer);
    background-size: cover;
    color: var(--color-light);
}
.welcome__address{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.welcome__address h2{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    
    margin-top: 3rem;
    margin-bottom: 0.7rem;
}
.welcome__address :nth-child(2){
    width: 70%;
    margin-bottom: 2.7rem;
}
.welcome__phone{
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom:0.7rem;
}

@media (min-width: 576px) {
    .welcome{
        background-image: url(./../bg-images/welcome-bg-dt.png);
        background-position: 70% bottom;
    }
    .welcome__sale{
        background-image: url(./../bg-images/welcome__article-sale-bd-mb.png);
        background-position: 40% 18%;
    }
  }

@media (min-width: 768px) {
    .logo{
        width: 98px;
        height: 98px;
    }
    .welcome__article{
        width: 60%;
    }
    .welcome__article .btn{
        align-self: initial;
        margin-top: 3rem;
    }
    .welcome__footer{
        max-height: 477px;
    }
    .welcome__address{
        flex-wrap: wrap;
        height: 465px;
        padding: 4rem 5rem;
    }
    .welcome__address h2{
        font-size: 3rem;
        font-weight: 900;
        
        margin-top: 0;
        margin-bottom: 2.6rem;
    }
    .welcome__address :nth-child(2){
        width: 40%;
        font-size: 1.7rem;
        margin-bottom: 0;
    }
    .welcome__phone{
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom:0;
    }

    .welcome__sale{
        display: flex;
        flex-direction: column;
        background-image: url(./../bg-images/welcome__article-sale-bg-dt.png);
        color: var(--color-light);
    }
    .article__sale{
        display: flex;
        flex-direction: column;
        padding-left: 55%;
        margin-bottom: 5%;
    }
    
    .container__sale{
        padding-top: 5rem;
        width: 75%;
    }

    .container__sale :nth-child(2){
        margin-bottom: 2rem;
    }
    
    .welcome__sale h2{
        font-size: 2rem;
    }
    
    .sale{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        width: 75%;
    
        min-height: 450px;
        margin: 3rem 0;
        border-radius: 14px;
        background-color: var(--color-light);
        color:#221112;
        padding: 2.3rem 1.5rem;
    }
    
    .sale h2{
        font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 3rem;
    }
    
    .sale p{
        width: 80%;
    }

    
    .certificate-article{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .certificate-info{
        flex-direction: row-reverse;
        padding-bottom: 1rem;
    }
    .certificate-img{
        padding-bottom: 0;
    }
    .certificate-img img{
        width: 441px;
        height: 527px;
    }
    .certificate-p :first-child{
        font-size: 2.5rem;
        font-weight: bold;
        font-family: "Montserrat Alternates", sans-serif;
        padding-bottom: 0.7rem;
        width: 85%;
    }
    .certificate-input{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }
    .certificate-input .btn{
        margin-top: 0px;
        color: var(--color-light);
        max-height: 80px;
        max-width: 270px;
    }
    .certificate-input input {
        max-width: 270px;
        min-height: 80px;
    }
  }