.welcome{
    height: 100vh;
    padding: var(--space-size);
    background-color: var(--color-main);
    background-image: url(./../bg-images/welcome-bg-mb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    color: var(--color-light);
}
.logo{
    display: block;
    width: 50px;
    height: 50px;
    margin-top: 15px;
}
.welcome__article{
    display: flex;
    flex-direction: column;
    height: 88vh;
}
.welcome__heading{
    font-size: 1.375rem;
    margin-top: 30px;
    line-height: 1.23;
}

.welcome__article p{
    padding-top: 0.7rem;
    font-weight: 600;
}
.welcome__article strong{
    font-weight: 900;
}
.welcome__article .btn{
    max-width: 232px;
    margin-top: auto;
    align-self: center;
    background-color: var(--color-light);
    color: var(--color-main); 
}
.welcome__footer{
    padding: var(--space-size);
    background-color: var(--color-footer);
    background-size: cover;
    color: var(--color-light);
}
.welcome__address{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.welcome__address h2{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    
    margin-top: 3rem;
    margin-bottom: 0.7rem;
}
.welcome__address :nth-child(2){
    width: 70%;
    margin-bottom: 2.7rem;
}
.welcome__phone{
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom:0.7rem;
}

@media (min-width: 576px) {
    .welcome{
        background-image: url(./../bg-images/welcome-bg-dt.png);
        background-position: 70% bottom;
    }
  }

@media (min-width: 768px) {
    .logo{
        width: 98px;
        height: 98px;
    }
    .welcome__article{
        width: 60%;
    }
    .welcome__article .btn{
        align-self: initial;
        margin-top: 3rem;
    }
    .welcome__footer{
        max-height: 477px;
    }
    .welcome__address{
        flex-wrap: wrap;
        height: 465px;
        padding: 4rem 5rem;
    }
    .welcome__address h2{
        font-size: 3rem;
        font-weight: 900;
        
        margin-top: 0;
        margin-bottom: 2.6rem;
    }
    .welcome__address :nth-child(2){
        width: 40%;
        font-size: 1.7rem;
        margin-bottom: 0;
    }
    .welcome__phone{
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom:0;
    }
  }